<% content_for :title do %>About<% end %>
<h3>i am second page</h3>
<p>
This web application was created with
<%= link_to('Rails Composer', 'http://railsapps.github.io/rails-composer/') %>
from the <%= link_to('RailsApps project', 'http://railsapps.github.io/') %>.
</p>
<h1>I am second page</h1>
<h1>I am second page</h1>
<%= render 'pages/partial' %>